
/*
    default grid layout - mobile first
*/

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-rows: 1fr 90px;
    grid-template-columns: 1fr;
    grid-template-areas: "content"
                         "footer";
}

.main {
    background-color: #2c3e50;
    grid-area: content;
}

.footer {
    background-color: #c0392b;
    grid-area: footer;
}

.aside {
    background-color: #7f8c8d;
    grid-area: sidebar;
}

/* hide the icons on mobile */
.aside i {
    display: none;
}

/* main */

img {
    max-width: 100%;
}

.main__header {
    display: grid;
    color: rgba(255,255,255,0.9);
    border: 1px solid red;
    grid-template-areas: "img"
                         "dtls"
}

.main__header > .img {
    grid-area: img;
    border: 1px solid red;
}

.main__header > .details {
    grid-area: dtls;
    border: 1px solid red;
}

.main__body > div {
    display: flex;
}

.main__body > div p {
    flex: 0 0 25%;
}

/*
    larger screens
*/

@media only screen and (min-width: 600px) {
    body {
        grid-template-columns: 120px 1fr;
        grid-template-areas: "sidebar content"
                             "footer footer";
    }

    .aside {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    /* show the icons */
    .aside i {
        display: block;
        color: white;
    }

    .main__header {
        grid-template-columns: 250px 1fr;
        grid-template-areas: "img dtls"
    }
}

/*
    mobile phones
*/

@media screen and (max-width: 600px) {
    .main__header {
        justify-items: center;
    }

    .main__header > .details {
        text-align: center;
    }

    .sm--hide {
        display: none;
    }

    .img > img {
        width: 150px;
    }
}